<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="icon"
      href="https://cdn.glitch.global/82b06e6e-8773-4db0-89f3-4233dff40e57/Goggurumin.png?v=16751979"
    />
    <link
      href="https://fonts.cdnfonts.com/css/thegoodmonolith"
      rel="stylesheet"
    />
    <link
      href="https://fonts.cdnfonts.com/css/dec-terminal-modern"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        <h1 class="title">
          <img
            src="https://cdn.glitch.global/82b06e6e-8773-4db0-89f3-4233dff40e57/GOGguru%20logo.png?v=1673432448488"
          />
          find the game of your life!
        </h1>

        <div class="instructions">
          <h2>Hello.</h2>
          <p>
           Welcome to  <strong>GOGguru</strong> . Here you can find your next
           favorite video game by simply entering your search criteria; enjoy!
          </p>

          <center>
            <form method="post">
              <h2>game: <input name="game" /></h2>
              <inv>INVALID INPUT</inv>
            </form>
            <br />
            <button
              type="submit"
              class="btn--remix"
              target="_top"
            >
              <b>Search</b>
            </button>
          </center>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="links"></div>
      <p>made by swarthe and joeP</p>
    </footer>
  </body>
</html>
